.HamburgerClick {
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  height: 350px;
  min-width: 80%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  animation: anim 1s;
}

@keyframes anim {
  0% {
    left: 0;
  }

  100% {
    left: 50%;
  }
}
.LiClick {
  color: black;
  padding: 20px 0px;
  transition: 0.5s;
}
.None {
  display: none;
}
